*
{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
}

.check
{
    border: red solid
}

.btn-primary
{
    font-weight: 500;
    border-radius: 10px;
    transition: .3s;
}

.btn-primary:hover
{
    transform: scale(1.1);
    background-color: #c6b6ff;
    border:  #c6b6ff solid;
}

.my-btn-login
{
    font-weight: 500;
    border: #777777 solid 2px;
    border-radius: 10px;
    color:  #c7c4c4;
    transition: .3s;
}

.my-btn-login:hover
{
    background-color: #777777;
    color:rgb(52, 58, 64);
    transform: scale(1.1);
}

.btn-size
{
    height:38px;
    width:85px;
}

.my-btn-explore
{
    background-color: #6c6291;
    height:45px;
    width:150px;
    border-radius: 40px;
    margin-top: 10px;
    transition: .2s;
}

.my-btn-explore:hover
{
    background-color: #81799e;
    transform: scale(1.1);
}

.my-btn-explore .explore-text
{
    color: #c7c4c4;
    font-weight: 600;
    font-size: 13px;
}

body
{
    background-color: rgb(52, 58, 64);
    color: #c7c4c4;
}

.navbar
{
    padding-left: 50px;
}

.title-logo
{
    font-size: 15pt;
    font-weight: 300;
    letter-spacing: 8px;
}

.navbar
{
    padding-top: 10px;
}

.headline
{
    display:block;
    margin-top: 90px;
    font-size: 40pt;
    font-weight: 600;
}

.headline2
{
    display: block;
    font-size: 40pt;
    font-weight: lighter;
    margin-top: -25px;
}

.general-text
{
    margin-right: 65%;
}

.logo-bg
{
    width: 600px;
    z-index: -1;
    float: right;
    margin-top: -250px;
}

#home-page
{
    -webkit-transition: -webkit-transform .45s ease-in-out;
    -moz-transition: -webkit-transform .45s ease-in-out;
}

.swipe-left
{
    -webkit-transform:translateX(-1500px);
    -moz-transform:translateX(-1500px);
}

.dropdown-item
{
    color:  #d4d4d4;;
}

.dropdown-item:hover
{
    background-color: #483e52;
    color: blanchedalmond;
}

.dropdown-menu.show
{
    background-color: #282830;
}

.dropdown-divider
{
    color: rgb(117, 117, 117);
    border: rgb(117, 117, 117) solid 1px;
    margin: 4px 7px;
}