*
{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
}

.check
{
    border: red solid
}

.btn-primary
{
    font-weight: 500;
    border-radius: 10px;
    transition: .3s;
}

.btn-primary:hover
{
    transform: scale(1.1);
    background-color: #c6b6ff;
    border:  #c6b6ff solid;
}

.my-btn-login
{
    font-weight: 500;
    border: #777777 solid 2px;
    border-radius: 10px;
    color:  #c7c4c4;
    transition: .3s;
}

.my-btn-login:hover
{
    background-color: #777777;
    color:rgb(52, 58, 64);
    transform: scale(1.1);
}

.btn-size
{
    height:38px;
    width:85px;
}

.my-btn-explore
{
    background-color: #6c6291;
    height:45px;
    width:150px;
    border-radius: 40px;
    margin-top: 10px;
    transition: .2s;
}

.my-btn-explore:hover
{
    background-color: #81799e;
    transform: scale(1.1);
}

.my-btn-explore .explore-text
{
    color: #c7c4c4;
    font-weight: 600;
    font-size: 13px;
}

body
{
    background-color: rgb(52, 58, 64);
    color: #c7c4c4;
}

.navbar
{
    padding-left: 50px;
}

.title-logo
{
    font-size: 15pt;
    font-weight: 300;
    letter-spacing: 8px;
}

.navbar
{
    padding-top: 10px;
}

.headline
{
    display:block;
    margin-top: 90px;
    font-size: 40pt;
    font-weight: 600;
}

.headline2
{
    display: block;
    font-size: 40pt;
    font-weight: lighter;
    margin-top: -25px;
}

.general-text
{
    margin-right: 65%;
}

.logo-bg
{
    width: 600px;
    z-index: -1;
    float: right;
    margin-top: -250px;
}

#home-page
{
    -webkit-transition: -webkit-transform .45s ease-in;
    -moz-transition: -webkit-transform .45s ease-in;
}

.swipe-left
{
    -webkit-transform:translateX(-1500px);
    -moz-transform:translateX(-1500px);
}


/* LOGIN LAYOUT */

.hide
{
    display: hide;
}

.login-layout
{
    /* Stack Element Center Initialize */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* z-index: 1; */
    margin:auto;
    /* Main Properties */
    display: flex;
    height: 600px;
    opacity: 0%;
    background-color: #141a20;
    border-radius: 2.5%;
    box-shadow: 0 0 20px #1b1724;
    overflow: hidden;
    max-width: 1200px;
    min-height: 480px;
    

    /* Animation */
    -webkit-transform:translateX(1500px);
    -moz-transform:translateX(1500px);
    -webkit-transition: -webkit-transform .45s ease-out;
    -moz-transition: -webkit-transform .45s ease-out


}

.login-swipe-left
{
    -webkit-transform:translateX(0px);
    -moz-transform:translateX(0px);
}

.form-container form
{
    background: #141a20;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-layout p
{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

.login-layout span
{
    font-size: 12px;
}

.login-layout h1
{
    font-weight: 600;
}

.login-layout a
{
    color: #d1d1d1;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}


.social-container
{
    margin: 20px 0;
}

.social-container a
{
    border: 1px solid #d1d1d1;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.form-container input
{
    background-color: #2d2644;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    border-radius: 10px;
    color: #d1d1d1;

}

.login-layout button
{
    border-radius: 20px;
    border: none;
    background: #5e536d;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #d1d1d1;
    transition: transform 80ms ease-in;
}

.login-layout button:active
{
    transform: scale(.95);
}

.login-layout button:focus
{
    outline: none;
}

.login-layout button.ghost
{
    background: transparent;
    border: 2px solid #d1d1d1
}

.form-container
{
    position: absolute;
    top:0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.login-container
{
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-container
{
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
}

.overlay-container
{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 99;
}

.overlay
{
    background: #2d2644;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out ;
}

.overlay-panel
{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.right-panel
{
    right:0;
    transform: translateX(0);
}

.left-panel
{
    transform: translateX(-20%);
}

/* Animation */

/* Move signin to right */

.login-layout.right-panel-active .login-container
{
    transform: translateX(100%);
}

/* Move overlay to left */

.login-layout.right-panel-active .overlay-container
{
    transform: translateX(-100%);
}

/* Animate Sign up ghost button */

.login-layout.right-panel-active .right-panel
{
    transform: translateX(20%);
}

/* Signup replace Login */

.login-layout.right-panel-active .sign-up-container
{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

/* Change Overlay Sign up */

.login-layout.right-panel-active .overlay
{
    transform: translateX(50%);
}

.login-layout.right-panel-active .left-panel
{
    transform: translateX(0);
}